@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --firstBackground: #959292;
    --secondBackground: #635a5a;
    --thirtyBackground: #484343;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(
    40deg,
    var(--firstBackground) 0%,
    var(--secondBackground) 50%,
    var(--thirtyBackground) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: Arial, Helvetica, sans-serif;
}
